.menuLateral{
    width: 6%;
    height: 100%;
    padding: 19px 2% 19px 2%;
    box-sizing: border-box;

    background: #FAFBFD;
    border-right: 3px solid #EDEAEA;
    border-radius: 23px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btnLogo{
    width: 125%;
}

.btnAdd{
    width: 200%;
    margin-top: 3em;
}

.btnReceitasDespesas{
    margin-top: 2em;
}

.btnBancos, .btnRelatorios, .btnInvestimento{
    margin-top: 1.3em;
}

.btnReceitasDespesas, .btnBancos, .btnRelatorios, .btnInvestimento{
    width: 150%;
}

.btnLogOff{
    margin-top: auto;
    width: 150%;
    justify-self: flex-end;
}

img{
    cursor: pointer;
}

.btnLateralAtivo{
    width: 100%;
    background-color: #EDEAEA;
}