.menuLateral{
    width: 6%;
    height: 100%;
    padding: 19px 22px 19px 22px;
    box-sizing: border-box;

    background: #FAFBFD;
    border-right: 3px solid #EDEAEA;
    border-radius: 23px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.btnLogo{
    width: 100%;
}

.btnAdd{
    max-width: 64px;
    margin-top: 12.40%;
}

.btnReceitasDespesas, .btnBancos, .btnRelatorios{
}

.btnBancos{

}

.btnRelatorios{

}

.btnInvestimento{
    margin-bottom: 254px;
}

.btnLogOff{

}

img{
    display: none;
}