body{
    display: flex;
    height: 100vh;
    background-color: #F6F8FA;
}

.conteudo{
    flex:1;
    background-color: #1D4C4F;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.imgErro{
    margin-top: auto;
    width: 60%;
    height: auto;
    cursor: default;
}