body{
    display: flex;
    height: 100vh;
    background-color: #F6F8FA;
}

.conteudo{
    flex:1;
    background-color: transparent;
    padding:  3%;

    /* border: 1px solid red; */
}

.tit-pagina{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 26px;
	/* or 42% */
	
	display: flex;
	align-items: center;
	
	color: #848A9D;	
}

.dados{
	width: 100%;
	height: 30%;

	background: #FCFCFC;
	border: 2px solid rgba(193, 193, 193, 0.42);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	margin-top: 3%;
	padding: 1%;
}

.tit-container-dados{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;

	display: flex;
	align-items: center;
	text-align: center;

	color: #848A9D;
}

.insercao-dados{
	margin-top: 1%;
	/* border: 1px solid red; */
	display: flex;
	width: 100%;
	height: 80%;
	justify-content: space-between;
	align-items: center;
}

.coluna-esquerda, .coluna-direita{
	/* border: 1px solid yellow; */
	width: 45%;
	height: 75%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}

select {
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 0 1em 0 0.5em;
	margin: 0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	
}

select::-ms-expand {
	display: none;
}

select {
	outline: none;	
}

#tipoInvest{
	width: 75%;
	height: 25%;
	border-bottom: 2px solid #DBDBDB;
	cursor: pointer;
	background-color: #FCFCFC;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;

	color: #C8C8C8;
}


.input-dados{
	height: 20%;
	width: 75%;
	border: none;
	border-bottom: 2px solid #DBDBDB;
	padding: 0 1em 0 0.5em;
	background-color: #FCFCFC;
}

.input-dados::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 1rem;
	color: #C8C8C8;
}

.btn-simula{
	width: 20%;
	height: 50%;
	margin-right: 5%;

	background: var(--cor5);
	border-radius: 20px;
	border: none;

	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 1.5rem;
	text-align: center;

	color: #FFFFFF;
	cursor: pointer;
}

.resultado{
	width: 100%;
	height: 50%;
	margin-top: 1%;
	padding: 1%;	

	background: #FCFCFC;
	border: 2px solid rgba(193, 193, 193, 0.42);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
	border-radius: 10px;


}