body{    
    height: 100vh;
    display: flex;
}

/* Imagens */

.img-logo{
    width:40%;
}

/* Animações */

@keyframes someConteudo {
    from{
        opacity: 100;
    }to{
        opacity: 0;
    }
}

@keyframes apareceConteudo {
    from{
        opacity: 0;
    }to{
        opacity: 100;
    }
}

@keyframes movimentaContainer{
    from{
        right: 0;
    }to{
        right: 50%;
    }
}

@keyframes retornaContainer {
    from{
        left: 0;
    }to{
        left: 50%;
    }
}

/* Container esquerda */

.esquerda{
    height: 100%;
    width: 50%;
    padding: 3.9% 6.36% 8.3% 6.36%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec-login{ 
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 85.13%;
    margin-top: 25.19%
}
/* Height: 27.44% */

.tit-login{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    letter-spacing: 7.4%;
    width: 100%;
    color: var(--cor1);
    margin-bottom: 5%;
}

.input-login{
    width: 100%;
    min-height: 40%;
    background-color: #F2f2f2;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.input-login::placeholder{
    color: #C4C4C4;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: 0.9%;
}

#input-email{
    margin-bottom: 2%;
}

#input-emailreg{
    margin-bottom: 2%;
}

.forget-pw{
    color: var(--cor4);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    letter-spacing: 0.9%;
    text-decoration: none;
    width: 60%;
    text-align: left;
    margin-top: 14%;
}

.secButtons{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.btn-login{
    width:85.13%;
    min-height: 12%;

    margin-top: 20%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: var(--cor2);
    text-transform: uppercase;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 9.4%;

    cursor: pointer;
}

.link-registro{
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.9%;
    color: var(--cor4);
    font-family: 'Inter', sans-serif;
    margin-top: 2%;
}

/* Container direita */

.direita{
    height: 100%;
    width: 50%;
    background-color: var(--cor1);

    padding: 3.9% 0% 12.79% 0%;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right:0;
    z-index:1;

    animation-name: movimentaContainer;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

}

.primeiroConteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 100;

    position: absolute;
    z-index: 3;

    animation-name: someConteudo;
    animation-duration:1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.tit-welcome{
    width: 85.13%;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 7.9%;
    color: white;
    text-transform: uppercase;
    text-align: center;

    
}

.text-welcome{
    margin-top: 25px;
    width: 82.5%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2.9%;
    text-align:center;
    line-height: 150%;

}

.img-login{
    margin-top: 5%;
    width: 89%;

}

.segundoConteudo{
    display:flex;
    opacity: 0;

    position: absolute;
    z-index: 2;
    transition: 1s;

    animation-name: apareceConteudo;
    animation-duration: 2s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    animation-play-state: paused;

    flex-direction: column;
    align-items: center;
}

.tit-esquerda{
    width: 80.97%;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 7.9%;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 130%;   
}

.texto-esquerda{
    margin-top: 1.85%;
    width: 82.5%;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 2.9%;
    text-align:center;
    line-height: 150%;

}

.imgDinheiro{
    width: 65%;
}


/* Configuração do Container de registro */

.areaRegistro{
    height: 100%;
    width: 50%;
    padding: 3.9% 6.36% 8.3% 6.36%;

    position: absolute;
    right: 0;
    z-index: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo{
    width: 37.5%;
}

.register{
    margin-top: 12%;
    width: 100%;
    
}

.tit-form{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 7.4%;
    width: 100%;
    color: var(--cor1);
    margin-bottom: 5%;
}

.input-registro{
    width: 100%;
    height: 58px;
    background-color: #F2f2f2;
    border: 2px solid #D7D7D7;
    border-radius: 5px;
    padding-left: 17px;
    display: flex;
    align-items: center;
}

.input-registro::placeholder{
    color: #C4C4C4;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    letter-spacing: 0.9%;
}

.sec-nameLastname{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#input-name, #input-lastname{
    width: 48.35%;
}

#input-email, #input-emailreg, #input-pw, #input-pwreg, #input-confpw{
    margin-top: 1.85%;
}

.btnRegistro{
    margin-top: 7.03%;
    cursor: pointer;
    width: 100%;
    height: 57px;

    background-color: var(--cor2);
    color: white;
    text-transform: uppercase;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 25px;

    border: none;
    border-radius: 10px;
}

.texto-login{
    width: 100%;
    margin-top: 2%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2.4%;
    color: black;
    text-align: center;
}

.link-login{
    text-decoration: none;
    color: var(--cor2);
    
}