body{
    display: flex;
    height: 100vh;
    background-color: #F6F8FA;
}

.conteudo{
    flex:1;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    padding:  3.62%;
   
}

.conteudo-cima, .conteudo-meio, .conteudo-baixo{
    height: 100%;   
}

.conteudo-cima{
    display: inline-flex;
    width: 43.39%;
        
}

.conteudo-baixo{
   
}

/* Cards */

.titulo{
   
    width: 100%;
    height: 66%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.receitas-despesas{
    width: 60%;
    height: 40%;
    text-align: center;
    letter-spacing: 0.06em;

    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

#receitas-despesas{
    background: #FCFCFC;
    border: 2px solid rgba(193, 193, 193, 0.42);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight:400;
    font-size: 20px;
    line-height: 0px;
    /* or 0% */

    color: #000000;
}

.titulo-receitas{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    color: #5f5f5fe0;
    /* or 0% */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

/* Botões */

.btns-receitas{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-titulo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    /* or 0% */

    display: flex;
    align-items: right;
    text-align: center;
    letter-spacing: 0.06em;

}

.btn-images{
    /* or 0% */
    width: 10%;
    align-items: right;
    text-align: center;
    margin-left: 300px;
}

.btn-images-2{
    /* or 0% */
    width: 20%;
    align-items: left;
    text-align: center;
    margin-right: 15px;
    margin-left: 25px;

}

.btns-total{
    width: 400px;
    background: #FCFCFC;
    border: 2px solid rgb(193, 193, 193, 0.42);
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    height:9.96%;
    margin-bottom: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 0%;
    box-sizing: border-box;

    color: #000000;
    cursor: pointer;    
}

.btns-mensal{
    width: 400px;
    background: #FCFCFC;
    border: 2px solid rgb(193, 193, 193, 0.42);
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    height:9.96%;
    margin-bottom: 2.5%;
    padding-top: 0.5%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 0%;
    box-sizing: border-box;

    color: #000000;
    cursor: pointer;
}

.btns-add{
    width: 250px;
    background: rgb(8, 199, 145);
    border: 2px solid rgb(193, 193, 193, 0.42);
    box-shadow: 4px 4px 8px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    height: 105px;
    margin-bottom: 2.5%;
    padding: 2%;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    /* or 0% */

    text-align: center;
    letter-spacing: 0.06em;
    display: flex;
    align-items: center;
    text-align: center;

    color: #ffffff;
    cursor: pointer;
}

/* Listas */

.listas-receitas{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;

    background: #FCFCFC;
    border: 2px solid rgba(193, 193, 193, 0.42);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    padding: 12px 41px 22px 23px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.lista-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    width: 100%;
    height: 100%;
}

.lista-titulo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    width: 100%;

    
    text-align: center;
    letter-spacing: 0.06em;

    color: #000000;
}

.ul-lista{
    margin-top: 33px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.li-lista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}